
<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<!--
<script> 

  var days = ["MON", "TUE", "WED", "THU", "FRI", "SAT", "SUN"];
  function shiftRightDay() {

    var firstDay = $("#firstDay").text();
    if (firstDay == days[0]) {
      $("#firstDay").text(days[1]);
      $("#secondDay").text(days[2]);
      $("#thirdDay").text(days[3]);
    } else if (firstDay == days[1]) {
      $("#firstDay").text(days[2]);
      $("#secondDay").text(days[3]);
      $("#thirdDay").text(days[4]);
    } else if (firstDay == days[2]) {
      $("#firstDay").text(days[3]);
      $("#secondDay").text(days[4]);
      $("#thirdDay").text(days[5]);
    } else if (firstDay == days[3]) {
      $("#firstDay").text(days[4]);
      $("#secondDay").text(days[5]);
      $("#thirdDay").text(days[6]);
    } 
  }

  function shiftLeftDay() {
    var firstDay = $("#firstDay").text();
    if (firstDay == days[1]) {
      $("#firstDay").text(days[0]);
      $("#secondDay").text(days[1]);
      $("#thirdDay").text(days[2]);
    } else if (firstDay == days[2]) {
      $("#firstDay").text(days[1]);
      $("#secondDay").text(days[2]);
      $("#thirdDay").text(days[3]);
    } else if (firstDay == days[3]) {
      $("#firstDay").text(days[2]);
      $("#secondDay").text(days[3]);
      $("#thirdDay").text(days[4]);
    } else if (firstDay == days[4]) {
      $("#firstDay").text(days[3]);
      $("#secondDay").text(days[4]);
      $("#thirdDay").text(days[5]);
    }
  }

</script>-->


<table class="mcal full center" style="text-align:center;font-size:small">
<!--
 <tr>
  <th>BACK</th>
  <th>FRI<br>19</th>
  <th>SAT<br>20</th>
  <th>SUN<br>21</th>
  <th>NEXT</th>
 </tr>

-->

 <tr>
  <th id="backBtn">BACK</th>
  <th id="firstDay">FRI</th>
  <th id="secondDay">SAT</th>
  <th id="thirdDay">SUN</th>
  <th id="nextBtn">NEXT</th>
 </tr>

 {{#each caltimes}}
 <tr>
  <td>{{time}}</td>
  <td class="firstDay {{timeIndex}}"></td>
  <td class="secondDay {{timeIndex}}"></td>
  <td class="thirdDay {{timeIndex}}"></td>
  <td></td>
 </tr><tr>
 <!--
 <td></td>
  <td class="lockedCell firstDay"></td>
  <td class="lockedCell secondDay"></td>
  
  <td class="thirdDay"></td>
  <td></td>-->
 </tr>
 {{/each}}
 {{#each caltimes2}}
 <tr>
  <td>{{time}}</td>
  <td class="firstDay {{timeIndex}}"></td>
  <td class="secondDay {{timeIndex}}"></td>
  <td class="thirdDay {{timeIndex}}"></td>
  <td></td>
  <!--
  </tr><tr>
  <td></td>
  <td class="lockedCell"></td>
  <td class="lockedCell"></td>
  
  <td></td>
  <td></td>
 </tr>-->
 {{/each}}
</table>
