
<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>


<table class="mcal full center" style="text-align:center;font-size:small">
<!--
 <tr>
  <th>BACK</th>
  <th>FRI<br>19</th>
  <th>SAT<br>20</th>
  <th>SUN<br>21</th>
  <th>NEXT</th>
 </tr>

-->

 <tr>
  <th class="backBtn">BACK</th>
  <th id="firstDayHeader1">FRI</th>
  <th id="secondDayHeader1">SAT</th>
  <th id="thirdDayHeader1">SUN</th>
  <th class="nextBtn">NEXT</th>
 </tr>

 {{#each caltimes}}
 <tr>
  <td>{{time}}</td>
  <td class="firstDay {{timeIndex}}"></td>
  <td class="secondDay {{timeIndex}}"></td>
  <td class="thirdDay {{timeIndex}}"></td>
  <td></td>
 </tr><tr>
 <!--
 <td></td>
  <td class="lockedCell firstDay"></td>
  <td class="lockedCell secondDay"></td>
  
  <td class="thirdDay"></td>
  <td></td>-->
 </tr>
 {{/each}}
 {{#each caltimes2}}
 <tr>
  <td>{{time}}</td>
  <td class="firstDay {{timeIndex}}"></td>
  <td class="secondDay {{timeIndex}}"></td>
  <td class="thirdDay {{timeIndex}}"></td>
  <td></td>
  <!--
  </tr><tr>
  <td></td>
  <td class="lockedCell"></td>
  <td class="lockedCell"></td>
  
  <td></td>
  <td></td>
 </tr>-->
 {{/each}}
</table>
