<div id="step4Screen" class="screen hidden">

<div class="pageBar table">
<div class="row">
<div class="cell clickable" style="width:10%">
<span class="whiteGreen" style="margin-left:5px;" onclick="skip(3)">Back</span>
</div>
<div class="cell center" style="width:80%">
<span class="whiteGreen" style="color:#CCFFCC;">Step 4:</span> When are you free to eat?
</div>
<div class="cell" style="width:10%">
&nbsp;
</div>
</div>
</div>

<div class="fnf-back1">

<table class="mcal full center" style="text-align:center;font-size:small">
<!--
 <tr>
  <th></th>
  <th>FRI<br>19</th>
  <th>SAT<br>20</th>
  <th>SUN<br>21</th>
  <th>MON<br>22</th>
 </tr>
-->
 <tr>
  <th class="backBtn">BACK</th>
  <th id="firstDayHeader">FRI</th>
  <th id="secondDayHeader">SAT</th>
  <th id="thirdDayHeader">SUN</th>
  <th class="nextBtn">NEXT</th>
 </tr>

 {{#each caltimes}}
 <tr>
  <td>{{time}}</td>
  <td class="firstDay {{timeIndex}}"></td>
  <td class="secondDay {{timeIndex}}"></td>
  <td class="thirdDay {{timeIndex}}"></td>
  <td></td>
 </tr><tr>
 </tr>
 {{/each}}
  {{#each caltimes2}}
 <tr>
  <td>{{time}}</td>
  <td class="firstDay {{timeIndex}}"></td>
  <td class="secondDay {{timeIndex}}"></td>
  <td class="thirdDay {{timeIndex}}"></td>
  <td></td>
  </tr><tr>

 </tr>
 {{/each}}
</table>




	<div class="underBar underSteps">
		<div class="row">
			<div class="cell clickable" style="width:10%">
			<span style="margin-left:5px;"><button class="fnf-second-button" onclick="skip(5)">skip</button></span>
			</div>
			<div class="cell center" style="width:80%">

				<div class="bullet"></div>
				<div class="bullet"></div>
				<div class="bullet"></div>
				<div class="filledBullet bullet"></div>

			</div>
			<div class="cell" style="width:10%">
				<button class="fnf-button" style="margin-right:4px;" onclick="skip(5)">finish</button>
			</div>
			</div>
		</div>

	<div class="underBar underSettings4 hidden">
		<div class="row">
			<div class="cell clickable" style="width:10%">
			<span style="margin-left:5px;"><button class="fnf-second-button" onclick="mains();swap(4);loadMainCalendar();">Cancel</button></span>
			</div>
			<div class="cell center" style="width:80%">


			</div>
			<div class="cell" style="width:10%">
				<button class="fnf-button" style="margin-right:4px;" onclick="mains();swap(4);loadMainCalendar();">Save</button>
			</div>
			</div>
		</div>

	</div>
</div>