<!doctype html>

<html>
<head>
	<title>Instatask</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->  

    <script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/introHCI.js"></script>      
</head>

<body>
    <div class="container">

	<h1>Instastart</h1>
    <a href="/settings"><button>Settings</button></a><a href="/logout"><button>Logout</button></a>



    <form action="/" method="post" style="border:1px solid #AAA; padding:10px;">
    	<h4>Filter:</h4>
    	Status: <select name="status"><option value="in progress">in progress</option><option value="completed" {{#if ff.stat2}}selected{{/if}}>completed</option></select></a><br>
    	Location: <br>
    	Category: <br>
    	Difficulty: <input type="checkbox" name="diffe" value="easy" {{#if ff.diffe}}checked{{/if}}> Easy
  <input type="checkbox" name="diffm" value="medium" {{#if ff.diffm}}checked{{/if}}> Medium
  <input type="checkbox" name="diffh" value="hard" {{#if ff.diffh}}checked{{/if}}> Hard

  <br>
  Duration (hrs): <input type="checkbox" name="durr" value="d02" {{#if ff.durre}}checked{{/if}}> 0-2
  <input type="checkbox" name="durr" value="d25" {{#if ff.durrm}}checked{{/if}}> 2-5
  <input type="checkbox" name="durr" value="d5" {{#if ff.durrh}}checked{{/if}}> 5+

  <br>
    <input type="hidden" name="tofilter" value="true">
    <input type="submit" value="Filter" />


    </form>

	{{#if notification}}
    <div>{{ notification }}</div>
    {{/if}}

    {{#each tasks}}
    <div class="task" id="task{{id}}" style="border:1px solid #AAA; padding:10px;"> 
		<h4>{{ title }}</h4>
		<p>Category: {{ category }}</p>
		<p>Location: {{ location }}</p>
		<p>Difficulty: {{ difficulty }}</p>
		<p>Duration: {{ duration }} hours</p>
		<a href="/task/{{ id }}"><button>Edit</button></a>
		<button onclick="complete('{{id}}')">Completed</button>

	</div>
    
    {{/each}}


    <br>
    <a href="/add"><h4>Add a new task</h4></a>
    



</div>

</body>
</html>
