<!doctype html>

<html>
<head>
	<title>Instatask</title>	
	{{> headers}}     
</head>

<body>
    <div class="container">

		<h1>Instastart</h1>

    <div class = "form">
		<h3>Edit Task</h3>

		<form action="{{ task._id }}" method="post">
		  <input name="title" type="text" placeholder="Task" value="{{ task.title }}"></input><br>
          <input name="category" type="text" placeholder="category" value="{{ task.category }}"></input><br>
          <input name="location" type="text" placeholder="location" value="{{ task.location }}"></input><br>
          <input name="duration" type="number" step="0.01" placeholder="duration" value="{{ task.duration }}"></input> Hours<br>

          <h3>Difficulty:</h3>
<input type="radio" name="diff" value="easy" {{#if diffe}}checked{{/if}}> Easy<br>
  <input type="radio" name="diff" value="medium" {{#if diffm}}checked{{/if}}> Medium<br>
  <input type="radio" name="diff" value="hard" {{#if diffh}}checked{{/if}}> Hard

			<br><br>
          <input type="hidden" name="tofilter" value="true">
          <input class = "button-primary" type="submit" value="Update Task" />
    </form>
    <br>
    <button class = "button-primary" onclick="deleteTask('{{ task._id }}')">Delete Task</button>
	</div>
  </div>
</body>
</html>
