<!doctype html>

<html>
<head>
	<title>Instatask</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->  

    <script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/introHCI.js"></script>      
</head>

<body>
    <div class="container">

		<h1>Instastart</h1>

		<h3>Edit Task</h3>

		<form action="{{ task._id }}" method="post">
		  <input name="title" type="text" placeholder="Task" value="{{ task.title }}"></input><br>
          <input name="category" type="text" placeholder="category" value="{{ task.category }}"></input><br>
          <input name="location" type="text" placeholder="location" value="{{ task.location }}"></input><br>
          <input name="duration" type="number" step="0.01" placeholder="duration" value="{{ task.duration }}"></input> Hours<br>

          <h3>Difficulty:</h3>
<input type="radio" name="diff" value="easy" {{#if diffe}}checked{{/if}}> Easy<br>
  <input type="radio" name="diff" value="medium" {{#if diffm}}checked{{/if}}> Medium<br>
  <input type="radio" name="diff" value="hard" {{#if diffh}}checked{{/if}}> Hard

			<br><br>
          <input type="hidden" name="tofilter" value="true">
          <input type="submit" value="Update Task" />
    </form>
    <br>
    <button onclick="deleteTask('{{ task._id }}')">Delete Task</button>
	</div>

</body>
</html>
